/* بک‌گراند کلی صفحه */
.main-background {
    min-height: 100vh;
    background: linear-gradient(to bottom right, #fff7ed, #fffbeb, #fef3c7);
    padding-bottom: 1.5rem;
}


/* هدر */
.header {
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid #ffedd5;
}

.header-inner {
    max-width: 1152px;
    margin: 0 auto;
    padding: 24px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* لوگو */
.logo-circle {
    background: linear-gradient(to right, #f97316, #f59e0b);
    padding: 12px;
    border-radius: 9999px;
}

.logo-icon {
    height: 32px;
    width: 32px;
    color: white;
}

/* عنوان سایت */
.site-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    color: #111827;
}

.site-subtitle {
    color: #4b5563;
}

/* دکمه */
.button-refresh {
    display: inline-flex;
    align-items: center;
    background: linear-gradient(to right, #f97316, #f59e0b);
    color: white;
    padding: 8px 24px;
    border-radius: 9999px;
    transition: all 0.3s ease;
    transform: translateZ(0);
    cursor: pointer;
}

.button-refresh:hover {
    background: linear-gradient(to right, #ea580c, #d97706);
    transform: scale(1.05);
}

/* آیکون داخل دکمه */
.refresh-icon {
    height: 20px;
    width: 20px;
    margin-right: 8px;
}

/* بخش وعده غذایی */
.meal-container {
    justify-content: space-between;
    display: flex;
    max-width: 1152px;
    margin: 0 auto;
}

.main-container-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 24px 14px 1.5rem 16px;
}

.intro-and-cards-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.image-container{
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
    border: 1px solid #ffedd5;
    position: relative;
    object-fit: cover; 
    max-width: 35rem;
    height: 20rem;
    background-image: url("https://www.themealdb.com/images/media/meals/cuio7s1555492979.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    background-color: transparent; 
    padding-left: 16px;
    padding-bottom: 16px;
}

.image-text-container{
    align-self: end;
}

.image-container h1{
    margin-bottom: 0.5rem; 
    font-size: 1.875rem;
    line-height: 2.25rem; 
    font-weight: 700; 
    color: #ffffff; 
}

.image-tag{
    padding-top: 0.125rem;
    padding-bottom: 0.125rem; 
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-right: 0.75rem;
    align-items: center; 
    border-radius: 9999px; 
    font-size: 0.75rem;
    line-height: 1rem; 
    font-weight: 600; 
    color: #ffffff; 
    background-image: linear-gradient(to right, #eeab1e, #eeab1e); 
}

/* .image-tag:nth-child(3) {
    background-image: linear-gradient(to right, #ff9205, #ff9205);
} */

/* .image-tag:nth-child(2) {
    background-image: linear-gradient(to right, #fe6600, #fe6600);
} */

.ingredient-container{
    border-radius: 0.5rem; 
    width: 100%;
    background-color: #ffffff; 
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);     
}

.gradiant-head{
    width: 100%;
    display: flex; 
    padding: 1.5rem; 
    flex-direction: column; 
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem; 
    font-size: 1.25rem;
    line-height: 1.75rem; 
    font-weight: 600; 
    color: #ffffff; 
    background-image: linear-gradient(to right,  #f97316, #f59e0b); 
}

.ingredient-container ul{
    padding: 0 1.5rem;
}

.ing-floor{
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    justify-content: space-between;
    align-items: center; 
    border-bottom: 1px solid #ffedd5;
}
.ing-floor:last-child{
    border-bottom: none;
}
.ing-floor:first-child{
    padding-top: 20px;
}

.ing{
    display: flex;
    font-weight: 500; 
    color: #374151; 
}
.ing-value{
    display: flex;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; 
    padding-left: 0.75rem;
    padding-right: 0.75rem; 
    border-radius: 9999px; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    color: #4B5563; 
    background-color: #F9FAFB; 
}

.small-cards-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    max-width: 35rem;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 0.5rem;
    margin-top: 20px;
    padding: 20px 0;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);     
}

.small-cards{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    border-radius: 0.5rem;
    height: 100px;
    width: 150px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.small-cards:nth-child(1) {
    background-color: #fff7ed;
}

.small-cards:nth-child(2) {
    background-color: #fffbeb;
}

.small-cards:nth-child(3) {
    background-color: #fefce8;
}

.card-icon{
    scale: 1;
    color: #f97316;
}
.second-color{
    color: #f59e0b;
}
.third-color{
    color:  #eab308;
}

.card-text-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.card-name{
    font-size: 0.8rem;
    line-height: 1.25rem;
    font-weight: 600;
    color: #4b5563;
}

.card-value{
    font-weight: 600;
    color: #111827;
}

.main-youtube-box{
    border-radius: 0.5rem;
    background-color: #ffffff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    border-width: 1px;
    border-color: #fff7ed;
    width: 100%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    padding: 1.5rem;
}

.red-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #ef4444;
    color: #ffffff;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 0.5rem;
    transition-property: background-color;
    transition-duration: 300ms;
    cursor: pointer;
}
.red-box:hover {
    background-color: #dc2626;
}
.youtube-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    stroke: #ffffff;
}

.cook-formula-container {
    justify-content: space-between;
    display: flex;
    width: 1152px;
    padding: 0 14px;
    flex-wrap: wrap;
    place-self: center;
}

.cook-formula-inner{
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
    background-color: #ffffff;
    width: 100%;
    border-radius: 0 0 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cook-text-row{
    display: flex;
    gap: 1rem;
}

.cook-number{
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
    background: linear-gradient(to right, #f97316, #fbbf24);
    color: #ffffff;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 0.875rem;
}

.cook-text{
    color: #4B5563; /* معادل text-gray-700 در Tailwind CSS */
    line-height: 1.5; /* معادل leading-relaxed در Tailwind CSS */
    padding-top: 0.25rem; /* معادل pt-1 در Tailwind CSS */
}
